@model AdminViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Dashboard</title>

</head>
<body>
    <div class="container" id="main">
        <div class="card mb-3">
            <!-- Icon Cards-->
            @await Component.InvokeAsync("TopPanelAdmin")
        </div>
        <div class="card mb-3" id="midRow">
            <!-- DataTables Example -->
            @await Component.InvokeAsync("Admin")
        </div>
        <div class="card mb-3">
            @await Component.InvokeAsync("DataChart")
        </div>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>
</html>