@model AdminViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>

    <!--Side Navbar -->
        <!--side nav links -->
        <ul class="sidebar navbar-nav bg-dark" id="sideNav">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Admin" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Horoscopes</span>
                </a>
                @*<div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Login Screens:</h6>
                    <a class="dropdown-item" href="login.html">Login</a>
                    <a class="dropdown-item" href="register.html">Register</a>
                    <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Other Pages:</h6>
                    <a class="dropdown-item" href="404.html">404 Page</a>
                    <a class="dropdown-item" href="blank.html">Blank Page</a>
                </div>
            </li>*@
            <li class="nav-item">
                <a class="nav-link" asp-controller="SaturnReport" asp-action="Index">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Saturn Reports</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Newsletter" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Newsletters</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Customer" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Customers</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Send">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Send Message</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="ReportIndex">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Create Report</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="SaturnRequest">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Requests</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Calendar">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Newsletter" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
</body>
</html>
