@model HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mx-auto">
                <div class="card-view">
                    <div class="card-body">
                        <h3 class="card-title">Why Saturn Report</h3>
                        <p class="card-text">
                            But do you know where Saturn was on the day you were born and WHY this is important? Saturn is our teacher of discipline, structure, form, and responsibility. These qualities are essential to character.
                            In the child’s chart, we can see Saturn operating as the force of discipline, responsibility, and structure. Saturn acquaints us with the realities of existence on the physical plane
                        </p>
                        <a asp-controller="Home" asp-action="WhySaturn" class="btn btn-link"> Read more </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
