@model HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mx-auto">
                <h3>Our Mission</h3>
                <p>
                    Parenting is both an honor and a blessing, and often very challenging. Our mission is to help you understand your child through astrology so that you can develop your child’s potential to become who they really are. We can identify your child’s emotional needs, learning style, talents, and gifts. Abc astrology provides a customized blueprint unique to your child.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
