@using Microsoft.AspNetCore.Identity
@model SaturnReport
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}
<div class="container-fluid">
    <div class="row ">
        <header>
            <div class="overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="~/videos/saturn-rising.mp4" type="video/mp4">
            </video>
            <div class="container h-100">
                <div class="d-flex text-center h-100">
                    <div class="my-auto w-100 text-white">
                        <h2 class="display-3 topTitle">Character is Destiny</h2>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <section id="saturnReport" class="my-5">
        @await Component.InvokeAsync("HomeSaturnReport")
    </section>
    <section id="learningCenter" class="my-5">
        @await Component.InvokeAsync("LearningCenter")
    </section>
    <section id="newsletterEmail" class="my-5">
        @await Component.InvokeAsync("NewsLetterEmail")
    </section>
    <section id="whySaturn" class="my-5">
        @await Component.InvokeAsync("WhySaturn")
    </section>
    <section id="howItWorks" class="my-5">
        @await Component.InvokeAsync("HowItWorks")
    </section>
    <!-- Plans -->
    <section id="plans">
        @await Component.InvokeAsync("Plans")
    </section>
    <section id="mission">
        @await Component.InvokeAsync("Mission")
    </section>
</div>


@section Scripts {
    <script type="text/javascript">

    </script>
}

