@model CustomerViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width" />
    <title>Default view showing</title>
</head>
<body>
    <h4 class="card-header"> New Users </h4>
    <p>@Model.CustomerCount total active users!</p>
    <div class="card-body">
      
    </div>
</body>
</html>
