@using Microsoft.AspNetCore.Identity
@model Newsletter


@inject SignInManager<ckl.Data.ApplicationUser> SignInManager
@inject UserManager<ckl.Data.ApplicationUser> UserManager

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="row report">
        <div class="col-md-offset-4">
            <form method="post" asp-controller="Newsletter" asp-action="Create">
                <h3>Create New Newsletter </h3>
                <div class="form-group">
                    <label asp-for="AuthorFirstName">Author</label>
                    <input type="text" asp-for="AuthorFirstName" class="form-control" />
                    <span asp-validation-for="AuthorFirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desciption">Desciption</label>
                    <input type="text" asp-for="Desciption" class="form-control" />
                    <span asp-validation-for="Desciption"></span>
                </div>

                <div class="form-group">
                </div>
                <div class="form-group">
                    <label asp-for="BodyText">Body</label>
                    <textarea asp-for="BodyText" class="form-control">...type here</textarea>
                    <span asp-validation-for="BodyText"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Created">Date</label>
                    <input type="datetime" asp-for="Created" class="form-control" />
                    <span asp-validation-for="Created"></span>
                </div>
                <button type="submit" class="btn btn-success">Create Newsletter</button>
            </form>
            <button id="open">Open Picker</button>
            <div id="inline" style="width:600px;height:500px;padding:20px;"></div>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        window.addEventListener('DOMContentLoaded', function () {
            const apikey = 'ARmMcU9xDRoynBFAUXFEbz';
            const client = filestack.init(apikey);
            const options = {
                displayMode: 'inline',
                container: '#inline',
                maxFiles: 20,
                uploadInBackground: false,
                onUploadDone: (res) => console.log(res),
            };
            const picker = client.picker(options);
            const openBtn = document.getElementById('open');
            openBtn.addEventListener('click', () => picker.open());
        });


    </script>
}