@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    <link rel="Stylesheet" href="~/css/loginTutorial.css" type="text/css" />
}

    <div class="container pt-3">
        <div class="row justify-content-sm-center">
            <div class="col-sm-6 col-md-4">

                <div class="card border-info text-center">
                    <div class="card-header">
                        Sign in to continue
                    </div>
                    <div class="card-body">
                        <img src="~/images/wallpaper.jpg" width="128" height="128" />
                        <h4 class="text-center">ABC Astrology</h4>
                        <form method="post" class="form-signin">
                            <input asp-for="Input.Email" type="text" class="form-control mb-2" placeholder="Email" required autofocus>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <input asp-for="Input.Password" type="password" class="form-control mb-2" placeholder="Password" required>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign in</button>
                            <label class="checkbox float-left">
                                <input asp-for="Input.RememberMe" type="checkbox" value="remember-me">
                                Remember me
                            </label>
                            <a asp-page="./ForgotPassword" class="float-right">Forgot password?</a>
                        </form>
                    </div>
                </div>
                <a asp-page="./Register" class="float-right">Create an account </a>
            </div>
        </div>
    </div>


   

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
