@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    width: 98%;
    font-family: 'Poppins', sans-serif;
    background-color:#ededed;
}


.navbar-nav  li  a{

}

#sideNav{

    height: 100vh;
    position:sticky;
    margin-top: -20px;
    padding-left: 15px;
    width: 200px;
    max-width: 205px;
    
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}


    .card {
        background-color: #ffffff !important;
        margin-top: 5px;
        width: 100%;       
    }

#leftPanel{
    height: 400px;
}

#rightPanel {
    height: 400px;
}

#midLeft{

    height: 250px;
}


input.blue {
    background: #5178D0;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: -10px;
    text-align: center;
    width: 1.6em;
    float: right;
    margin-top: -20px;
}