@model  NewsletterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mx-auto">
                <h3>Sign up for weekly News, Updates, and More </h3>
                <form asp-controller="Newsletter" asp-action="Create" method="post">
                    <div class="form-group">
                        <label asp-for="UserEmail">Enter Email</label>
                        <input type="text" asp-for="UserEmail" class="form-control" />
                        <span asp-validation-for="UserEmail"></span>
                    </div>

                    <input type="submit" class="btn btn-block" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
