@model AdminViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <!-- Area Chart Example-->
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example
        </div>
        <input type="number" value="4" id="saturnCount" />
        <div class="card-body">
            <canvas id="myChart" height="30"></canvas>
        </div>
</body>
</html>
